// -----------------head-----------
$rosaProduct: #fc9696;
$verdeVenta: #93EE9C;
$amarilloClient:#FFE600;
$celesteResult: #00B1FF;
// -----------------head-----------
$lilaInicio: #8972FF;
// ------------------------------------
$negro332: #343638;
$negro333: #202124;
$humo:#F1F2F2;
$humoOscuro:#CBD0D3;
// -----------------head-----------
$rosaNo: #FFA5B3;
$rojoNo: rgb(231, 17, 17);
$verdeSibajo: #96F9AD;
$verdeSialto: rgb(6, 230, 58);
// -----------------fondo------------
$noche: rgb(10, 12, 15);
$nocheLetra:rgb(238, 241, 241);
// ------------------------------------
$dia: rgb(235, 238, 240);
$diaPanel: rgb(253, 253, 253);
$diaLetra: #15171a;
// ------------------------------------
// ------------------------------------
// ------otros---
// $rojoNo: rgb(20, 22, 167);
.bg-producto {
    background: $rosaProduct;
}